{% if cookiecutter.command_line_interface|lower == 'click' -%}
click{% endif %}

pip
requests
bump2version
wheel
twine
{% if cookiecutter.use_pytest == 'y' -%}
pytest
pytest-runner
pytest-cov{% endif %}
